<div class="mb-3">
    <label for="{{ id }}" class="form-label">{{ label }}</label>
    <input 
        *ngIf="type !== 'textarea'; else textArea"
        type="{{ type }}"
        name="{{ name }}" 
        class="form-control" id="{{ id }}" 
        placeholder="{{ placeholder }}"
        [formControl]="control"
    />

    <ng-template #textArea>
        <textarea 
            class="form-control" id="{{ id }}" 
            placeholder="{{ placeholder }}"
            rows="{{ rows }}"
            [formControl]="control"
        ></textarea>
    </ng-template>
    <div class="erros" *ngIf="control.invalid && control.dirty && control.touched">
        Preencha o campo
    </div>
</div>
