<h1>Publicações</h1>
<div class="wrapper-posts">
    <div class="card">
        <img src="./../../../assets/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary mt-3">Ver post</a>
        </div>
    </div>

    <div class="card">
        <img src="./../../../assets/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary mt-3">Ver post</a>
        </div>
    </div>

    <div class="card">
        <img src="./../../../assets/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary mt-3">Ver post</a>
        </div>
    </div>

    <div class="card">
        <img src="./../../../assets/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary mt-3">Ver post</a>
        </div>
    </div>

    <div class="card">
        <img src="./../../../assets/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary mt-3">Ver post</a>
        </div>
    </div>

    <div class="card">
        <img src="./../../../assets/default.jpg" class="card-img-top" alt="...">
        <div class="card-body">
        <h5 class="card-title">Post title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary mt-3">Ver post</a>
        </div>
    </div>
</div>
